@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.hidden {
    display: none;
}

body {
    background-color: #5B2386;
    font-family: 'GmarketSansMedium';
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}


header {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .main-tit {
    width: 564px;
}

.tit-law {
    position: relative;
    display: inline-block;
}
.tit-law .img-tit {
    position: relative;
    z-index: 10;
    max-width: 564px;
}
.tit-law::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -112px;
    margin-left: -112px;
    margin: -112px 0 0 -112px;
    width: 225px;
    height: 225px;
    background-image: url(./img/clock.png);
    background-size: 225px;
}

.maxim {
    font-family: 'OTEnjoystoriesBA';
    color: #F5DF4D;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 78px;
}

/* intro */
.intro-wrap {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 102px;
    background-image: url(./img/quotes.png);
    background-repeat: no-repeat;
    background-position: center;
}
.intro {
    font-size: 18px;
}
.intro strong {
    font-size: 24px;
    font-weight: 700;
}

/* input */
.input-wrap {
    margin-bottom: 115px;
}
.btn {
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 7px;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    box-sizing: border-box;
    text-align: center;
}
.btn:focus {
    color: #000;
}
.input-first {
    margin-bottom: 27px;
}
.input-second {
    display: inline;
}
.input-last {
    display: inline;
}

/* search */
.search {
    position: relative;
    margin-bottom: 130px;
}

.click {
    display: inline-block;
    background: #FCEE21;
    color: #5B2386;
    border-radius: 56px;
    font-weight: 700;
    padding: 22px 49px;
    box-sizing: border-box;
    margin-right: 7px;
}
.img-click {
    position: absolute;
    bottom: -20px;
}

/* result */
.result {
    /* display: none; */
    margin-bottom: 130px;
}
.result p:first-child {
    margin-bottom: 17px;
}
.result p:nth-child(2) {
    margin-bottom: 23px;
}
.result p:nth-child(3) {
    margin-bottom: 127px;
}
.result strong {
    font-size: 72px;
    font-weight: 700;
    vertical-align: middle;
}

/* footer */
footer img {
    margin-bottom: 20px;
}
footer p {
    font-size: 12px;
    line-height: 17.38px;
    margin-bottom: 70px;
}
.click.reverse {
    background: #fff;
}


/* modal */
.bg-modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    }

.modal {
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 76px 145px 68px;
    color: #000;
}

.modal h1 {
    font-size: 96px;
    font-weight: 700;
    color: #5B2386;
    line-height: 105px;
    font-family: 'OTEnjoystoriesBA';

}

.modal p {
    font-size: 36px;
    color: #5B2386;
    font-family: 'OTEnjoystoriesBA';
    margin-bottom: 29px;
}

.modal img {
    margin-bottom: 74px;
}

/* 태블릿 반응형 */

@media screen and (max-width: 767px) {
    body {
        font-size: 18px;
    }
    header {
        margin-top: 41px;
        margin-bottom: 31px;
        height: 178px;
    }
    
    header .main-tit {
        width: 430px;
    }
    
    .maxim {
        font-size: 30px;
        margin-bottom: 62px;
    }
    
    /* intro */
    .intro-wrap {
        background-size: 440px;
        margin-bottom: 70px;
    }
    .intro strong {
        font-size: 18px;
    }

    /* input */
    .input-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 49px;
    }
    .btn {
        width: 210px;
        height: 52px;
        font-size: 18px;
    }
    .input-first {
        margin-bottom: 21px;
    }
    .input-second {
        margin-bottom: 19px;
    }

    /*search*/
    .search {
        margin-bottom: 64px;
    }
    
    .click {
        /* height: 40px; */
        padding: 13.5px 17.5px ;
    }
    .search .click.long {
        display: inline-block;
        width: 300px;
        height: 76px;
        background: #FCEE21;
        color: #5B2386;
        border-radius: 13px;
        padding: 10px 40px;
        line-height: 1.6;
    }
    .img-click {
        width: 43px;
    }

    /* result */
    .result {
        margin-bottom: 83px;
    }
    .result p:first-child {
        margin-bottom: 15px;
    }
    .result p:nth-child(3) {
        margin-bottom: 55px;
    }
    .result strong {
        font-size: 24px;
    }
    .click.reverse {
        background: #fff;
    }
    
    /* footer */
    footer img {
        height: 18px;
    }
    footer p {
        font-size: 9px;
        line-height: 13.03px;
        margin-bottom: 32px;
        font-weight: 200;
    }
    
    .modal {
        width: 700px;
        height: 700px;
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        padding: 56px 105px 48px;
        color: #000;
    }
    
    .modal h1 {
        font-size: 76px;
        line-height: 96px;
        margin-bottom: 10px;
    }
    
    .modal p {
        font-size: 36px;
        margin-bottom: 19px;
    }
    
    .modal img {
        margin-bottom: 54px;
    }
}

/* 모바일 반응형 */

@media screen and (max-width: 450px) {
    body {
        font-size: 14px;
    }
    header {
        height: 126px;
    }
    
    header .main-tit {
        width: 267px;
    }
    .tit-law::after {
        width: 125px;
        height: 125px;
        background-size: 125px;
        margin-top: -60px;
        margin-left: -60px;
    }
    
    .maxim {
        font-size: 22px;
    }
    
    /* intro */
    .intro-wrap {
        margin-bottom: 102px;
        background-image: url(./img/quotes.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 360px;
    }
    .intro {
        font-size: 16px;
    }
    .intro strong {
        font-size: 14px;
        font-weight: 700;
    }

    /* input */
    .btn {
        width: 156px;
        height: 37px;
        font-size: 14px;
    }
    .input-first {
        margin-bottom: 27px;
    }
    /*search*/
    .search .click.long {
        width: 241px;
        height: 68px;
        box-sizing: border-box;
    }

    /* result */
    .click {
        height: 40px;
        padding: 13.5px 17.5px ;
    }
    .result {
        margin-bottom: 83px;
    }
    .result p:first-child {
        margin-bottom: 15px;
    }
    .result p:nth-child(2) {
        margin-bottom: 55px;
    }
    .modal {
        width: 330px;
        height: 500px;
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        padding: 40px 45px;
        color: #000;
    }
    
    .modal h1 {
        font-size: 36px;
        line-height: 96px;
        margin-bottom: 6px;
    }
    
    .modal p {
        font-size: 26px;
        margin-bottom: 30px;
    }
    
    .modal img {
        width: 200px;
        margin-bottom: 44px;
    }
    .modal a {
        border-radius: 13px;
    }
}
