@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
/* reset */
img {
    display: block;
    width: 100%;
}
.blind {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


/* style */
#app {
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: #FFF;
    text-align: center;

    padding-bottom: 70px;

    /* 난 이걸로 겹침 해결했는데 강사님은 인라인블록으로 해버렸다 */
    /* overflow: hidden; */
}

.tit-law {
    /* 시계 위치 잡아주기 위한 기준점 */
    position: relative;
    margin-top: 194px;

    /* 이렇게되면서 크기가 자동조정되었다 */
    display: inline-block;
}
.tit-law .img-tit {
    /* z-index를위한 포지션 */
    position: relative;
    z-index: 10;

    /* 오버플로우 히든사용시 사이즈지정 */
    /* max-width: 564px; */
}
.tit-law::after {
    /* 가상요소에 디스플레이 블록 필수! */
    display: block;
    /* 콘텐트 없으면 출력안됨 */
    content: '';

    /* 시계 위치 잡아주기 */
    position: absolute;
    top: 50%;
    left: 50%;
    /* 브라우저마다 올림내림 규칙이 달랐어서 소수점안씀 */
    margin-top: -112px;
    margin-left: -112px;
    margin: -112px 0 0 -112px; /*동일 의미*/
    /* 중심으로 땡기는 방법엔 여러가지가 있다. 픽셀값을 알기에 이렇게도 한다!! */
    /* transform: translate(-50%, -50%); */

    /* 요거해제하면 어떨까 = 안보여짐;;;크기 값이 있어야 하나봄 */
    width: 225px;
    height: 225px;

    background-image: url(./img/clock.png);
    /* 사진크기가225을 넘어가서 짤리게보이는 현상해결 */
    background-size: 225px;
}

.img-txt {
    max-width: 486px;
    margin: 120px auto 78px;
}

.txt-desc {
    /* 24/18 = 1.333*/
    line-height: 1.33;
    font-size: 18px;

    width: 475px;
    margin: 0 auto 102px;

    position: relative;
}
.txt-desc .tit-desc {
    font-size: 24px;
    font-weight: bold;
}

.txt-desc::before {
    /* 눈감고도 쳐야됨 앞으로 이거는 */
    display: block;
    content: '';

    width: 486px;
    height: 32px;
    background-image: url(./img/quotes.png);
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    margin-top: -16px;
}


.cont-inp,
.cont-result {
    font-size: 24px;
    line-height: 24px;
}

.cont-inp .txt-wannabe {
    margin-bottom: 27px;
}
.cont-inp .txt-time {
    margin-bottom: 115px;
}

.cont-inp .txt-wannabe input, 
.cont-inp .txt-time input {
    width: 228px;
    height: 57px;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    font-family: GmarketSansMedium;
}
.cont-inp .btn-exc,
.cont-result .btn-go,
.cont-result .btn-share {
    padding: 21px 49px;
    margin-bottom: 147px;

    font-size: 24px;
    line-height: 24px;
    font-family: GmarketSansBold;

    color: #5B2386;
    background: #FCEE21;
    border-radius: 56px;

    cursor: pointer;
    border: none;

    position: relative;
}

.cont-inp .btn-exc::after {
    display: block;
    content: '';
    width: 64px;
    height: 72px;
    background-image: url(./img/click.png);
    position: absolute;
    top: 20px;
    right: -71px;
}


.cont-result .txt-wannabe,
.cont-result .txt-time {
    line-height: 72px;
}
.cont-result .txt-wannabe {
    margin-bottom: 17px;
}
.cont-result .txt-time {
    margin-bottom: 127px;
}

.cont-result .txt-wannabe strong, 
.cont-result .txt-time strong {
    font-size: 72px;
    vertical-align: top;
    /* 난 이걸 썼었음 */
    /* vertical-align: middle; */

    font-family: GmarketSansBold;
}


.cont-result .btn-share {
    background: #fff;
    margin-left: 18px;
}


.cont-footer {
    font-size: 12px;
    line-height: 17px;
    font-family: Noto Sans KR;
}
.cont-footer .img-footer {
    width: 125px;
    height: 25px;

    margin: 0 auto 20px;
}